@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";
@keyframes menuAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  outline: none;
}

body {
  background: #f2f2f2;
}
body .container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas: "nav nav nav nav nav" "head head head head head" "body body body body body" "foot foot foot foot foot";
}
body #particles {
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 200;
}
nav .wrapper {
  background: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
nav .wrapper .logo {
  color: #fff;
  margin: 0;
  padding: 5px 20px 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
nav .wrapper .hamenu {
  display: none;
  color: #fff;
  font-size: 25px;
  padding: 0 10px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
nav .wrapper .navmenu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
  padding-right: 20px;
}
nav .wrapper .navmenu .menuitem {
  height: 100%;
  display: inherit;
  align-items: center;
  padding: 0 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
nav .wrapper .navmenu .menuitem:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #37a746;
  z-index: -1;
}
nav .wrapper .navmenu .menuitem:hover:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
nav .wrapper .navmenu .menuitem:focus:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
nav .wrapper .navmenu .menuitem.active:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
nav .wrapper .navmenu .menuitem:before {
  transform: skew(-20deg);
}
nav .wrapper .navmenu .menuitem a {
  text-decoration: none;
  color: #fff;
}

.head {
  grid-area: head;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head .content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}
.head .content h1 {
  display: block;
  color: #f2f2f2;
  margin-bottom: 30vh;
  font-size: 45px;
  text-align: center;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.head .content .btnwrapper {
  display: block;
  margin: auto;
  font-size: 18px;
}
.head .content .btnwrapper .btn {
  display: inline-block;
  text-decoration: none;
  color: #37a746;
  padding: 10px 20px;
  border-radius: 2px;
  border: 3px solid #37a746;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
}
.head .content .btnwrapper .btn:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #37a746;
  z-index: -1;
}
.head .content .btnwrapper .btn:hover:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.head .content .btnwrapper .btn:focus:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.head .content .btnwrapper .btn.active:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.head .content .btnwrapper .btn:hover {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  text-decoration: none;
  color: #fff;
}
.head .content .btnwrapper .btn:focus {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  text-decoration: none;
  color: #fff;
}

.body {
  grid-area: body;
  width: 100%;
}
.body h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
}
.body .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 20;
}
.body .info .desc {
  margin: 0 auto;
}
.body .info .desc p {
  font-size: 17px;
}
.body .events {
  z-index: 20;
}
.body .events .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.body .events .cont table {
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 40px;
}
.body .events .cont table:last-child {
  margin-bottom: 0;
}
.body .events .cont table thead {
  background: #31943e;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
}
.body .events .cont table thead tr:first-child {
  background: #2a8136;
}
.body .events .cont table thead tr:first-child th:last-child {
  border-radius: 0 2px 0 0;
}
.body .events .cont table thead tr:first-child th:first-child {
  border-radius: 2px 0 0 0;
}
.body .events .cont table thead tr:last-child th {
  font-size: 22px;
}
.body .events .cont table thead th {
  text-align: center;
  padding: 10px 0;
}
.body .events .cont table tbody {
  color: #fff;
  font-size: 18px;
}
.body .events .cont table tbody tr {
  background: #37a746;
}
.body .events .cont table tbody tr:last-child {
  border-radius: 0 0 2px 2px;
}
.body .events .cont table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 2px;
}
.body .events .cont table tbody tr:last-child td:last-child {
  border-radius: 0 0 2px 0;
}
.body .events .cont table tbody tr td {
  padding: 5px 20px;
}
.body .contact {
  width: 100%;
  z-index: 20;
  margin-bottom: 40px;
}
.body .contact .cont {
  z-index: 20;
}
.body .contact .cont form {
  z-index: 20;
  margin: 0 auto;
  width: 450px;
}
.body .contact .cont form input[type="text"], .body .contact .cont form input[type="email"], .body .contact .cont form textarea {
  border: 3px solid #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  background: #333;
  padding: 8px 10px;
  border-radius: 2px;
  color: #fff;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  margin-bottom: 20px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.body .contact .cont form input[type="text"]::-webkit-input-placeholder, .body .contact .cont form input[type="email"]::-webkit-input-placeholder, .body .contact .cont form textarea::-webkit-input-placeholder {
  color: #bfbfbf;
  font-size: 18px;
}
.body .contact .cont form input[type="text"]:-moz-placeholder, .body .contact .cont form input[type="email"]:-moz-placeholder, .body .contact .cont form textarea:-moz-placeholder {
  color: #bfbfbf;
  font-size: 18px;
}
.body .contact .cont form input[type="text"]::-moz-placeholder, .body .contact .cont form input[type="email"]::-moz-placeholder, .body .contact .cont form textarea::-moz-placeholder {
  color: #bfbfbf;
  font-size: 18px;
}
.body .contact .cont form input[type="text"]:-ms-input-placeholder, .body .contact .cont form input[type="email"]:-ms-input-placeholder, .body .contact .cont form textarea:-ms-input-placeholder {
  color: #bfbfbf;
  font-size: 18px;
}
.body .contact .cont form input[type="text"]:focus, .body .contact .cont form input[type="email"]:focus, .body .contact .cont form textarea:focus {
  border: 3px solid #fff;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  background: #fff;
  color: #000;
}
.body .contact .cont form input[type="text"]:focus::-webkit-input-placeholder, .body .contact .cont form input[type="email"]:focus::-webkit-input-placeholder, .body .contact .cont form textarea:focus::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 18px;
}
.body .contact .cont form input[type="text"]:focus:-moz-placeholder, .body .contact .cont form input[type="email"]:focus:-moz-placeholder, .body .contact .cont form textarea:focus:-moz-placeholder {
  color: #b3b3b3;
  font-size: 18px;
}
.body .contact .cont form input[type="text"]:focus::-moz-placeholder, .body .contact .cont form input[type="email"]:focus::-moz-placeholder, .body .contact .cont form textarea:focus::-moz-placeholder {
  color: #b3b3b3;
  font-size: 18px;
}
.body .contact .cont form input[type="text"]:focus:-ms-input-placeholder, .body .contact .cont form input[type="email"]:focus:-ms-input-placeholder, .body .contact .cont form textarea:focus:-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 18px;
}
.body .contact .cont form textarea {
  max-height: 300px;
  min-height: 70px;
}
.body .contact .cont form a {
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #37a746;
  padding: 10px 20px;
  border-radius: 2px;
  border: 3px solid #37a746;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
}
.body .contact .cont form a:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #37a746;
  z-index: -1;
}
.body .contact .cont form a:hover:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.body .contact .cont form a:focus:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.body .contact .cont form a.active:before {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.body .contact .cont form a:hover {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  text-decoration: none;
  color: #fff;
}
.body .contact .cont form a:focus {
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  text-decoration: none;
  color: #fff;
}

footer {
  grid-area: foot;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 20;
  height: 150px;
}
footer .wrapper .logo-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .wrapper .logo-cont a {
  text-decoration: none;
}
footer .wrapper .logo-cont a:hover {
  text-decoration: none;
}
footer .wrapper .logo-cont a.logo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  color: #fff;
}
footer .wrapper .logo-cont a.logo:hover {
  color: #fff;
}
footer .wrapper .social-cont {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .wrapper .social-cont .social {
  padding-left: 40px;
}
footer .wrapper .social-cont .social .link {
  font-size: 30px;
  border-radius: 100% !important;
  color: #fff;
  font-size: 35px;
  padding: 10px;
  margin-right: 10px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
footer .wrapper .social-cont .social .link:before {
  border-radius: 100% !important;
  background: #fff;
}
footer .wrapper .social-cont .social .link.facebook {
  position: relative;
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
}
footer .wrapper .social-cont .social .link.facebook:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #3b5998;
  z-index: -1;
}
footer .wrapper .social-cont .social .link.facebook:hover:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.facebook:focus:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.facebook.active:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.facebook:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
}
footer .wrapper .social-cont .social .link.twitter {
  position: relative;
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
}
footer .wrapper .social-cont .social .link.twitter:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #55acee;
  z-index: -1;
}
footer .wrapper .social-cont .social .link.twitter:hover:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.twitter:focus:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.twitter.active:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.twitter:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
}
footer .wrapper .social-cont .social .link.youtube {
  position: relative;
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
}
footer .wrapper .social-cont .social .link.youtube:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #ff0000;
  z-index: -1;
}
footer .wrapper .social-cont .social .link.youtube:hover:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.youtube:focus:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.youtube.active:before {
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
footer .wrapper .social-cont .social .link.youtube:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.15s all ease;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
}

@media screen and (max-width: 800px) {
  .body {
    width: 90%;
    margin: 0 auto;
  }
  .body .events .cont table {
    max-width: 100%;
  }
  .body .events .cont table thead {
    font-size: 22px;
  }
  .body .events .cont table thead tr:last-child th {
    font-size: 18px;
  }
  .body .events .cont table tbody {
    font-size: 15px;
  }
  .body .events .cont table tbody tr td:first-child {
    text-align: center;
  }
  .body .contact .cont form {
    width: 100% !important;
  }

  .head .content h1 {
    font-size: 35px;
  }

  nav .wrapper .hamenu {
    display: inline-block;
  }
  nav .wrapper .navmenu {
    display: none;
    opacity: 0;
    background: #262626;
    position: absolute;
    top: 50px;
    right: 0;
    flex-direction: column;
    padding: 0;
    height: auto;
    border-bottom-left-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
  }
  nav .wrapper .navmenu .menuitem {
    display: block;
    padding: 10px 50px;
  }
  nav .wrapper .navmenu .menuitem:before {
    transform: skew(0deg);
  }
  nav .wrapper .navmenu .menuitem:last-child {
    border-bottom-left-radius: 2px;
  }
  nav .wrapper .navmenu .menuitem:last-child:before {
    border-bottom-left-radius: 2px;
  }

  footer .wrapper .logo-cont a {
    font-size: 25px !important;
  }
  footer .wrapper .social-cont .social .link {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 600px) {
  .head .content h1 {
    font-size: 30px;
  }

  footer .wrapper .logo-cont a {
    font-size: 25px !important;
    text-align: justify;
  }
  footer .wrapper .social-cont {
    width: 70%;
  }
  footer .wrapper .social-cont .social {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .wrapper .social-cont .social .link {
    font-size: 25px !important;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
