@media screen and (max-width: 800px) {
    body {
        width: 90%;
        margin: 0 auto;
        .contact {
            .cont {
                form {
                    width: 100% !important;
                }
            }
        }
    }
    nav {
        .wrapper {
            .hamenu {
                display: inline-block;
            }
            .navmenu {
                display: none;
                background: darken($bgcolor, 5);
                position: absolute;
                top: 50px;
                right: 0;
                flex-direction: column;
                padding: 0;
                height: auto;
                border-bottom-left-radius: 2px;
                @include stdshadow(false);
                @include transition(0.3s all ease);
                //animation-name: menuAnim;
                //animation-direction: normal;
                //animation-duration: 0.3s; 
                .menuitem {
                    display: block;
                    padding: 10px 50px;
                    &:before {
                        transform: skew(0deg);
                    }
                    &:last-child {
                        border-bottom-left-radius: 2px;
                        &:before {
                            border-bottom-left-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}