* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: url("../img/BG.jpg") #40476d;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: auto;
    overflow-x: hidden;
}

header .container {
    margin: 40px auto 0 auto;
}

header .container nav {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .container nav .pname {
    padding: 0 20px;
}

header .container nav .pname p {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #b96262;
    height: 100%;
}

header .container nav .pname p .pcolor {
    color: #fff;
}

header .container nav .menubtns {
    padding: 0 20px;
}

header .container nav .menubtns a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 40px;
    height: 100%;
    padding: 17px 20px;
    margin-bottom: 0;
    border: none;
}

header .container nav .selected {
    background-color: rgba(0, 0, 0, 0.5);
}

header .container .logo {
    margin: 0 auto;
    margin-top: 60px;
    width: 120px;
    height: 120px;
}

header .container .logo img {
    vertical-align: top;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: 5px solid #40476d;
}

.main .container {
    overflow: visible;
    margin-top: -60px;
}

.main .container .fondox {
    overflow: hidden;
    background: #40476d;
    padding: 80px 20px 20px 20px;
    border-radius: 3px 3px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .container .fondox article {
    background-color: #fff;
    width: 69%;
    border-radius: 3px;
}

.main .container .fondox article .about {
    padding: 20px;
    border-radius: 3px;
    background: #d1d1d1;
}

.main .container .fondox article .about .about-text h1 {
    font-weight: 600;
    font-size: 38px;
    color: #333;
    text-align: center;
}

.main .container .fondox article .about .about-text p {
    font-weight: 300;
    font-size: 28px;
    color: #333;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.main .container .fondox article .artists h3 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #333;
}

.main .container .fondox article .artists .fotos {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main .container .fondox article .artists .fotos .thumb {
    width: 255px;
    height: 255px;
    margin: 10px;
    position: relative;
}

.main .container .fondox article .artists .fotos .thumb img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.main .container .fondox article .artists .fotos .thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: absolute;
    top: 0;
}

.main .container .fondox article .artists .fotos .thumb a h5 {
    font-weight: 700;
    font-size: 35px;
    position: absolute;
    text-align: center;
    bottom: 50%;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.main .container .fondox article .artists .fotos .thumb a p {
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    text-align: center;
    bottom: 20%;
    color: #fff;
    cursor: pointer;
}

.main .container .fondox aside {
    overflow: hidden;
    width: 29%;
    background: #e1ce7a;
    border-radius: 3px;
    padding: 0 20px;
}

.main .container .fondox aside h4 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid #333;
    margin: 20px 20px;
    padding-bottom: 20px;
}

.main .container .fondox aside .sesion {
    padding: 0 20px;
}

.main .container .fondox aside .sesion form input[type="text"],
.main .container .fondox aside .sesion form input[type="password"] {
    border: none;
    background: #333;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid rgba(51, 51, 51, 0.4);
    border-radius: 5px;
    color: #fff;
}

.main .container .fondox aside .sesion form .btndiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.main .container .fondox aside .sesion form .btndiv a {
    text-decoration: none;
    color: #40476d;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 5px;
}

.main .container .fondox aside .sesion form .btndiv input[type="submit"] {
    border: none;
    background: #40476d;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.main .container .fondox aside .news ul {
    list-style: none;
    padding-left: 20px;
}

.main .container .fondox aside .news ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.4);
    margin-right: 20px;
    margin-bottom: 10px;
}

.main .container .fondox aside .networks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 20px;
}

.main .container .fondox aside .networks .basic, .main .container .fondox aside .networks .facebook, .main .container .fondox aside .networks .instagram, .main .container .fondox aside .networks .youtube, .main .container .fondox aside .networks .twitter {
    font-size: 40px;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    width: 80px;
    margin: 10px;
    text-align: center;
}

.main .container .fondox aside .networks .facebook {
    background: #3b5998;
}

.main .container .fondox aside .networks .instagram {
    background: #833ab4;
}

.main .container .fondox aside .networks .youtube {
    background: #cd201f;
}

.main .container .fondox aside .networks .twitter {
    background: #1da1f2;
}

footer .container {
    background: #232323;
    border-radius: 0 0 3px 3px;
    margin-bottom: 20px;
    padding: 5px 20px;
}

footer .container p {
    color: #fff;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    header .container {
        margin: 20px auto 0 auto;
    }
    header .container nav {
        background: none;
        flex-direction: column;
    }
    header .container nav .pname {
        margin-bottom: 20px;
    }
    header .container .logo {
        margin-top: 80px;
    }
    .main .container .fondox article {
        width: 59%;
    }
    .main .container .fondox aside {
        width: 39%;
    }
}

@media screen and (max-width: 750px) {
    .main .container .fondox aside .sesion form .btndiv {
        flex-direction: column;
        margin-top: 0;
    }
    .main .container .fondox aside .sesion form .btndiv a {
        margin-bottom: 20px;
    }
    .main .container .fondox aside .sesion form .btndiv input[type="submit"] {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    header .container nav .menubtns a {
        font-size: 30px;
    }
    .main .container .fondox article {
        border-radius: 3px 3px 0 0;
        width: 100%;
    }
    .main .container .fondox aside {
        border-radius: 0 0 3px 3px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    header .container nav .menubtns a {
        font-size: 20px;
    }
}
